@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@keyframes fadeInUp { 0% { transform: translateX(0); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); } }
body { font-size: 15px; font-weight: normal; color: #fffbf4; font-family: Arial, "微軟正黑體", "新細明體"; text-align: left; margin: 0 auto; background: url(../images/top_line.jpg) repeat-x top center; padding-top: 10px; }

a { text-decoration: none; }

.layout { color: #b6893c; }
.layout h3 { font-size: 2.6em; font-weight: bold; padding-bottom: 20px; }
.layout h3 span { display: none; }
.layout p { font-size: 1.3em; line-height: 1.3em; }

.bungo { margin: 0 5px; color: #b6893c; display: inline-block; border-radius: 25px; border: 2px solid #b6893c; padding: 0 20px; font-size: 1.2em; line-height: 1.8em; }
.bungo:hover { background-color: #096851; border-color: #096851; color: #fffbf4; }

#menubox { position: fixed; top: 0px; right: 0; z-index: 999; width: 100%; box-shadow: 0px 0px 15px #999; }
#menubox.active .menu .icon { background: transparent; margin: 0; }
#menubox.active .menu:before { background-color: #b6893c; -moz-transform: translateY(10px) rotate(45deg); -ms-transform: translateY(10px) rotate(45deg); -webkit-transform: translateY(10px) rotate(45deg); transform: translateY(10px) rotate(45deg); }
#menubox.active .menu:after { background-color: #b6893c; -moz-transform: translateY(0) rotate(-45deg); -ms-transform: translateY(0) rotate(-45deg); -webkit-transform: translateY(0) rotate(-45deg); transform: translateY(0) rotate(-45deg); }
#menubox.active ul { display: block; }

.active#menubox { height: 100%; background-color: #c0a16c; }

#menus { text-align: center; width: 100%; background-color: #fffbf4; }
#menus .menu { float: right; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; cursor: pointer; margin-right: 20px; margin-top: 25px; }
#menus .menu .icon { width: 30px; height: 5px; margin: 5px 0; background-color: #b6893c; border-radius: 5px; }
#menus .menu:before, #menus .menu:after { content: ''; display: block; width: 30px; height: 5px; background-color: #b6893c; border-radius: 5px; }
#menus ul { display: none; background-color: #c0a16c; }
#menus ul li { width: 100%; opacity: .9; border-bottom: 1px solid #fffbf4; position: relative; }
#menus ul li a { display: block; text-align: center; line-height: 58px; height: 58px; text-decoration: none; font-size: 1.3em; color: #fffbf4; font-weight: 400; letter-spacing: 2px; }
#menus ul li a span { display: none; }
#menus ul li:hover { background-color: #b6893c; }

.iconbox { padding: 20px 0; }
.iconbox img { width: 100%; }

#silderbox { overflow: hidden; }

.Banner { width: 100%; margin-top: 60px; }
.Banner img { width: 100%; height: auto; }

#videobox { overflow: hidden; margin: 30px; box-sizing: border-box; }
#videobox .video { width: 100%; box-sizing: border-box; }
#videobox #silderbox2 { width: 100%; }
#videobox #silderbox2 img { width: 100%; }
#videobox .sp-previous-arrow:before, #videobox .sp-previous-arrow:after, #videobox .sp-next-arrow:before, #videobox .sp-next-arrow:after { background-color: #b6893c; }
#videobox .sp-previous-arrow:hover:before, #videobox .sp-previous-arrow:hover:after, #videobox .sp-next-arrow:hover:before, #videobox .sp-next-arrow:hover:after { background-color: #096851; }

.Bannerbox { background-color: #c0a16c; }
.Bannerbox img { width: 100%; }

#wordbox { background: url(../images/wordbox_bg.jpg) no-repeat top center #fffbf4; background-color: #fff; padding-top: 55px; background-size: 10%; }

.bg { background: url(../images/bg.jpg) repeat-x bottom; }

.allBanner, .allBanner2 { width: 100%; overflow: hidden; }
.allBanner img, .allBanner2 img { width: 100%; }

#showBanner { text-align: center; }
#showBanner .bungo { margin: 20px 0; line-height: 42px; font-size: 1em; padding-left: 10px; padding-right: 10px; font-weight: bold; }

.showBun { display: none; width: 110px; height: 51px; margin: 0 auto; background: url(../images/arrow_down.png) no-repeat top center; cursor: pointer; background-size: 30%; }
.showBun:hover { background: url(../images/arrow_down_ch.png) no-repeat top center; background-size: 30%; }

.active .showBun { background: url(../images/arrow_up.png) no-repeat top center; background-size: 30%; cursor: pointer; }
.active .showBun:hover { background: url(../images/arrow_up_ch.png) no-repeat top center; background-size: 30%; }

.solidbox { padding-top: 100px; text-align: center; }
.solidbox #silderbox3 { width: 100%; }
.solidbox #silderbox3 img { width: 100%; height: auto; }
.solidbox #silderbox3 .Banner { margin-top: 20px; cursor: pointer; height: auto; min-height: 480px; }
.solidbox #silderbox3 .sp-arrows { top: 50%; display: none; }
.solidbox #silderbox3 .sp-arrow { height: 60px; width: 10px; }
.solidbox #silderbox3 .sp-previous-arrow { left: 10%; }
.solidbox #silderbox3 .sp-next-arrow { right: 10%; }
.solidbox #silderbox3 .sp-previous-arrow:before, .solidbox #silderbox3 .sp-previous-arrow:after, .solidbox #silderbox3 .sp-next-arrow:before, .solidbox #silderbox3 .sp-next-arrow:after { background-color: #c0a16c; opacity: .6; }
.solidbox #silderbox3 .layout { position: relative; }
.solidbox #silderbox3 .active { background-color: #fff8e8; }
.solidbox #silderbox3 .active .lightbox { height: 100%; }

.lightbox { width: 100%; background-color: #fff8e8; color: #c0a16c; padding: 30px; position: absolute; display: none; min-height: 480px; box-sizing: border-box; }
.lightbox h3 { font-size: 1.7em; border-bottom: 1px solid #c0a16c; margin-bottom: 10px; overflow: hidden; clear: both; text-align: left; line-height: 1.5em; padding-bottom: 5px; }
.lightbox h3 div { display: inline-block; float: right; font-size: 0.8em; border: 3px solid #c0a16c; border-radius: 30px; padding: 5px 10px; font-weight: normal; line-height: 0.9em; cursor: pointer; }
.lightbox h3 div:hover { background-color: #c0a16c; color: #fffbf4; }
.lightbox ol { overflow-y: auto; height: 300px; display: block; }
.lightbox ol li { text-align: left; list-style-type: decimal; font-size: 0.9em; line-height: 1.7em; margin-left: 20px; }
.lightbox p { font-size: 1em; padding: 10px 0; text-align: left; }
.lightbox p a { display: block; color: #096851; text-decoration: underline; word-wrap: break-word; font-size: 0.7em; }
.lightbox p a:hover { color: #d0000a; }

.cardbox { padding: 90px 0; text-align: center; background: url(../images/cardbg.jpg) repeat-x center; }
.cardbox .next { background: url(../images/next.png) no-repeat right; width: 35px; height: 63px; right: 10%; }
.cardbox .prev { background: url(../images/prev.png) no-repeat left; width: 35px; height: 63px; left: 10%; }
.cardbox .next[data-v-43e93932], .cardbox .prev[data-v-43e93932] { color: transparent; }

#example { padding-bottom: 40px; height:350px;}
#example .carousel-3d-slide { border: 0px; background-color: transparent; }

#Androidbox { text-align: center; color: #b6893c; padding: 80px 30px; }
#Androidbox img { padding: 10px 0; width: 100%; max-width: 317px; }
#Androidbox ul { margin: 10px 0 60px; border: 1px solid #b6893c; border-radius: 10px; padding: 20px 10px; box-sizing: border-box; }
#Androidbox ul li { margin-left: 30px; font-size: .9em; list-style: disc; padding-left: 5px; line-height: 1.2em; text-align: left; padding-bottom: 10px; }
#Androidbox ul li:nth-last-child(1) { padding-bottom: 0; }
#Androidbox #logo { background: transparent; padding: 0; }
#Androidbox #logo img { /*width: 100%;*/ }
#Androidbox #logo div { border-bottom: 1px solid #b6893c; border-top: 1px solid #b6893c; }
#Androidbox #logo img.visa { /*max-width: 742px; */display: block; margin: 0 auto; }
#Androidbox #logo img { max-width: initial; }
#Androidbox #logo img.pc, #Androidbox #logo img.phone { border-top: 1px solid #b6893c; }

.pc { display: none; }

.QandA { background-color: #f6f0e6; text-align: center; color: #b6893c; padding: 60px 30px; }
.QandA h3 { font-size: 2.6em; font-weight: bold; padding-bottom: 20px; }
.QandA h3 span { display: none; }
.QandA #idTabs { margin-top: 20px; }
.QandA #idTabs ul { overflow: hidden; clear: both; }
.QandA #idTabs li { width: calc(100% / 4); display: block; float: left; box-sizing: border-box; border-right: 1px solid #c0a16c; padding: 0 10px; }
.QandA #idTabs li a { display: block; width: 100%; font-size: 0.9em; line-height: 1.5em; color: #b6893c; opacity: 0.4; }
.QandA #idTabs li span { display: block; width: 100%; height: 50px; background-repeat: no-repeat; background-position: center; margin-bottom: 10px; background-size: contain; }
.QandA #idTabs li:hover a { opacity: 1; }
.QandA #idTabs li a.selected { opacity: 1; }
.QandA #idTabs li:nth-child(1) span { background-image: url(../images/icon_tab1.png); }
.QandA #idTabs li:nth-child(2) span { background-image: url(../images/icon_tab2.png); }
.QandA #idTabs li:nth-child(3) span { background-image: url(../images/icon_tab3.png); }
.QandA #idTabs li:nth-child(4) { border: 0px; }
.QandA #idTabs li:nth-child(4) span { background-image: url(../images/icon_tab4.png); }
.QandA #idTabs #tab1, .QandA #idTabs #tab2, .QandA #idTabs #tab3, .QandA #idTabs #tab4 { width: 100%; background-color: #fffbf4; overflow: hidden; clear: both; margin-top: 20px; }
.QandA #idTabs #tab1 ol, .QandA #idTabs #tab2 ol, .QandA #idTabs #tab3 ol, .QandA #idTabs #tab4 ol { width: 100%; box-sizing: border-box; overflow: hidden; list-style: decimal; color: #b6893c; }
.QandA #idTabs #tab1 ol li, .QandA #idTabs #tab2 ol li, .QandA #idTabs #tab3 ol li, .QandA #idTabs #tab4 ol li { background-color: #b6893c; width: 100%; text-align: left; border-right: 0; color: #fffbf4; list-style: decimal; border-bottom: 10px solid #f6f0e6; padding: 0 0 0 30px; cursor: pointer; position: relative; }
.QandA #idTabs #tab1 ol li div, .QandA #idTabs #tab2 ol li div, .QandA #idTabs #tab3 ol li div, .QandA #idTabs #tab4 ol li div { background-color: #fffbf4; }
.QandA #idTabs #tab1 ol li strong, .QandA #idTabs #tab2 ol li strong, .QandA #idTabs #tab3 ol li strong, .QandA #idTabs #tab4 ol li strong { display: inline-block; text-align: center; position: absolute; left: 0; top: 0; width: 30px; height: 50px; color: #fffbf4; line-height: 50px; }
.QandA #idTabs #tab1 ol .qa_title, .QandA #idTabs #tab2 ol .qa_title, .QandA #idTabs #tab3 ol .qa_title, .QandA #idTabs #tab4 ol .qa_title { background: url(../images/icon_down.jpg) no-repeat right bottom #fffbf4; line-height: 1.5em; font-size: 1em; padding: 10px; color: #b6893c; }
.QandA #idTabs #tab1 ol .qa_content, .QandA #idTabs #tab2 ol .qa_content, .QandA #idTabs #tab3 ol .qa_content, .QandA #idTabs #tab4 ol .qa_content { color: #696969; line-height: 1.2em; padding: 0 10px 10px 10px; }
.QandA #idTabs #tab1 ol .qa_content p, .QandA #idTabs #tab2 ol .qa_content p, .QandA #idTabs #tab3 ol .qa_content p, .QandA #idTabs #tab4 ol .qa_content p { border-top: 1px solid #b6893c; padding-top: 10px; font-size: 0.8em; letter-spacing: 1px; }
.QandA #idTabs #tab1 ol .qa_content dd, .QandA #idTabs #tab2 ol .qa_content dd, .QandA #idTabs #tab3 ol .qa_content dd, .QandA #idTabs #tab4 ol .qa_content dd { font-size: 0.8em; padding-left: 10px; padding-top: 5px; }
.QandA #idTabs #tab1 ol li.activeon .qa_title, .QandA #idTabs #tab2 ol li.activeon .qa_title, .QandA #idTabs #tab3 ol li.activeon .qa_title, .QandA #idTabs #tab4 ol li.activeon .qa_title { background-image: url(); }

.word { background-color: #c0a16c; text-align: center; box-sizing: border-box; padding: 20px 30px; color: #fffbf4; font-weight: bold; text-align: left; }
.word .layout { color: #fffbf4; }
.word h2 { font-size: 14px; line-height: 1.5em; }
.word p { line-height: 1.5em; font-size: 12px; margin-bottom: 10px; }

.footer { background-color: #b6893c; font-weight: bold; text-align: left; padding: 10px 30px; }
.footer .layout { color: #fffbf4; }
.footer .layout h3 { display: none; }
.footer .layout p { font-size: 1em; padding: 10px 0; }

@media (min-width: 1000px) { #menubox { background: url(../images/top_line.jpg) repeat-x top center; padding-top: 10px; border-bottom: 1px solid #b6893c; background-color: #fffbf4; box-shadow: 0px 0px 0px #fff; }
  #menubox img { float: left; padding: 0; }
  #menubox .menu { display: none; }
  #menubox .menulist li { min-width: 140px; display: block; padding: 25px 2% 15px; box-sizing: border-box; }
  .active#menubox { height: 100%; background-color: transparent; }
  #menus { overflow: hidden; clear: both; }
  #menus ul { display: block; float: right; background-color: transparent; }
  #menus ul li { background-color: transparent; float: left; width: 20%; border: 0px; }
  #menus ul li:hover a { color: #fffbf4; }
  #menus ul li:hover a span { color: #fffbf4; }
  #menus ul li a { display: inline-block; color: #b6893c; height: auto; box-sizing: border-box; line-height: 20px; font-size: 21px; letter-spacing: 0; }
  #menus ul li a span { display: block; color: #c0a16c; font-size: 14px; letter-spacing: 0; font-weight: normal; }
  #menus img { float: left; }
  .Banner { background: url(../images/bannerimg_pc.jpg) no-repeat top center; height: 760px; overflow: hidden; }
  .Banner img { display: none; }
  .layout { width: 1000px; margin: 0 auto; }
  .sp-buttons { padding-top: 20px; }
  #videobox { overflow: hidden; clear: both; width: 1000px; margin: 40px auto 0; box-sizing: border-box; }
  #videobox .video { background: url(../images/videobg.jpg) no-repeat top center; width: calc(60% - 40px); float: left; margin-right: 40px; padding-bottom: 100px; box-sizing: border-box; }
  #videobox .video iframe { height: 390px; }
  #videobox .right { width: calc(40% - 40px ); float: left; }
  #videobox #silderbox2 { box-sizing: border-box; }
  #videobox #silderbox2 img { display: none; }
  #videobox #silderbox2 .adbox { background-repeat: no-repeat; background-position: top center; height: 450px; background-size: 100%; }
  #videobox #silderbox2 .sp-buttons { padding-top: 0; margin-top: -15px; }
  .Bannerbox .layout { background: url(../images/banner.jpg) no-repeat top center; height: 267px; }
  .Bannerbox img { display: none; }
  #silderbox3 { margin-bottom: 100px; }
  #silderbox3 .Banner { height: 480px; background-size: 100%; }
  .solidbox #silderbox3 .sp-arrows { display: block; }
  .lightbox ol { height: 330px; }
  #wordbox { background-size: initial; overflow: hidden; }
  #wordbox .showBun { display: none; }
  #wordbox .allBanner { width: 100%; height: 1500px; background: url(../images/wordbox_img.jpg) no-repeat top center; background-size: contain; }
  #wordbox .allBanner img { display: none; }
  #wordbox .allBanner2 { width: 100%; height: 636px; background: url(../images/wordbox_img_02.jpg) no-repeat top center; background-size: contain; }
  #wordbox .allBanner2 img { display: none; }
  #showBanner .bungo { padding-left: 20px; padding-right: 20px; font-size: 1.2em; }
  #Androidbox .layout { overflow: hidden; padding-left: 550px; box-sizing: border-box; background: url(../images/phonebg.jpg) no-repeat left top; }
  #Androidbox h3 { font-size: 3em; }
  #Androidbox h3 span { display: inline-block; }
  #Androidbox p { font-size: 2em; }
  #Androidbox img { padding: 20px 0; }
  #Androidbox img { width: auto; }
  #Androidbox ul { margin: 10px 0 120px; }
  .pc { display: block; }
  .phone { display: none; }
  .QandA #idTabs li span { float: left; width: 60px; height: 60px; margin-right: 10px; }
  .QandA #idTabs li a { opacity: .4; text-align: left; font-size: 1.5em; line-height: 1.3em; }
  .QandA #idTabs li a strong { display: block; }
  .QandA #idTabs #tab1 ol .qa_title, .QandA #idTabs #tab2 ol .qa_title, .QandA #idTabs #tab3 ol .qa_title, .QandA #idTabs #tab4 ol .qa_title { font-size: 1.2em; }
  .QandA #idTabs #tab1 ol .qa_content p, .QandA #idTabs #tab2 ol .qa_content p, .QandA #idTabs #tab3 ol .qa_content p, .QandA #idTabs #tab4 ol .qa_content p { font-size: 1em; }
  .QandA #idTabs #tab1 ol .qa_content dd, .QandA #idTabs #tab2 ol .qa_content dd, .QandA #idTabs #tab3 ol .qa_content dd, .QandA #idTabs #tab4 ol .qa_content dd { font-size: 1em; }
  .word { padding-bottom: 20px; }
  .word h2 { display: inline-block; border-right: 1px solid #fffbf4; padding-right: 5px; }
  .word p { display: inline; margin: 0 10px 10px 0; }
  .footer { letter-spacing: 0.04em; }
  .footer .layout { overflow: hidden; clear: both; }
  .footer .layout h3 { display: block; float: right; font-size: 1em; padding: 10px 0; }
  .footer .layout p { float: left; } }

/*# sourceMappingURL=layout.css.map */
/*-------------*/

.qaTable {
	width:98%;
	margin:10px 0;
	border:1px solid #d5aa61;
	}

.qaTable thead td {
	background:#d5aa61;
	color:#fff;
	}

.qaTable td {
	padding:2px 2%;
	height:1.5em; line-height:1.5em;
	border:1px solid #d5aa61;}













/*-------------*/